.macbookpro16"-14
{
width:1728px;
height:1117px;
padding:0px;
background-color:#ffffff;
position:absolute;
}
.rectangle4
{
width:1728px;
height:51px;
background-color:rgba(150, 169, 255, 0.2199999988079071);
}
.copyright©️minutelearn
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:auto;
color:#373d60;
left:715px;
top:1077px;
position:absolute;
}
.group7
{
width:408px;
height:76px;
top:53px;
left:107px;
position:absolute;
}
.image-removebg-preview-21
{
width:91px;
height:76px;
left:107px;
top:53px;
position:absolute;
}
.minutelearn2
{
text-align:left;
vertical-align:text-top;
font-size:48px;
font-family:Inter;
left:222px;
top:62px;
width:293px;
height:58px;
position:absolute;
line-height:auto;
color:#373d60;
}
.group11
{
width:408px;
height:76px;
top:53px;
left:107px;
position:absolute;
}
.image-removebg-preview-212
{
width:91px;
height:76px;
left:107px;
top:53px;
position:absolute;
}
.minutelearn3
{
text-align:left;
vertical-align:text-top;
font-size:48px;
font-family:Inter;
left:222px;
top:62px;
width:293px;
height:58px;
position:absolute;
line-height:auto;
color:#373d60;
}
.group12
{
width:100px;
height:100px;
left:1477px;
top:41px;
position:absolute;
}
.ellipse9
{
top:41px;
left:1477px;
position:absolute;
}
.ellipse10
{
width:80px;
height:80px;
left:1487px;
top:51px;
width:80px;
height:80px;
position:absolute;
}
.hi,lakshay
{
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Inter;
left:1236px;
top:64px;
width:196px;
height:44px;
position:absolute;
line-height:auto;
color:#000000;
}
.rectangle25
{
border-radius:11px;
width:509px;
height:459px;
background-color:#f6f6f6;
border:1px solid #cdcdcd;
top:347px;
left:1068px;
position:absolute;
}
.rectangle21
{
border-radius:14px;
width:1355px;
height:100px;
background-color:rgba(175, 189, 255, 0.2199999988079071);
border:1px solid #c2cdff;
top:194px;
left:222px;
position:absolute;
}
.concept2:
{
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Inter;
left:248px;
top:222px;
width:200px;
height:44px;
position:absolute;
line-height:auto;
color:#353d61;
}
.proportions
{
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Inter;
left:522px;
top:222px;
width:205px;
height:44px;
position:absolute;
line-height:auto;
color:#353d61;
}
.group21
{
width:159px;
height:60px;
top:214px;
left:1396px;
position:absolute;
}
.rectangle212
{
border-radius:11px;
width:159px;
height:60px;
background-color:#f3ea98;
border:0.5px solid #bba910;
top:214px;
left:1396px;
position:absolute;
}
.now
{
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
left:1432px;
top:233px;
width:46px;
height:22px;
position:absolute;
line-height:auto;
color:#353d61;
}
.arrow1
{
width:1px;
left:1505px;
top:249.5px;
position:absolute;
}
.#notes
{
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
left:1087px;
top:364px;
width:68px;
height:22px;
position:absolute;
line-height:auto;
color:#000000;
}
.rectangle26
{
border-radius:11px;
width:812px;
height:459px;
background-color:rgba(194, 205, 255, 0.5);
border:0.5px solid #4254a4;
top:347px;
left:222px;
position:absolute;
}
.question4
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:256px;
top:380px;
width:128px;
height:29px;
position:absolute;
line-height:auto;
color:#353d61;
}
.totalquestions:12
{
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
left:778px;
top:384px;
width:171px;
height:22px;
position:absolute;
line-height:auto;
color:#3a4faa;
}
.twonumbersarerespectively20%and50%morethanathirdnumber.theratioofthetwonumbersis:
{
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
left:286px;
top:427px;
width:610px;
height:44px;
position:absolute;
line-height:auto;
color:#353d61;
}
.ellipse12
{
top:523px;
left:290px;
position:absolute;
}
.ellipse13
{
top:556px;
left:290px;
position:absolute;
}
.ellipse14
{
top:589px;
left:290px;
position:absolute;
}
.ellipse15
{
top:622px;
left:290px;
position:absolute;
}
.:5
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:314px;
top:521px;
width:34px;
height:19px;
position:absolute;
line-height:auto;
color:#353d61;
}
.:52
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:314px;
top:554px;
width:31px;
height:19px;
position:absolute;
line-height:auto;
color:#353d61;
}
.:53
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:314px;
top:587px;
width:34px;
height:19px;
position:absolute;
line-height:auto;
color:#353d61;
}
.:7
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:314px;
top:620px;
width:33px;
height:19px;
position:absolute;
line-height:auto;
color:#353d61;
}
.ellipse16
{
top:593px;
left:294px;
position:absolute;
}
.rectangle27
{
border-radius:4px;
width:111px;
height:43px;
background-color:#ccd4f8;
top:673px;
left:290px;
position:absolute;
}
.rectangle28
{
border-radius:4px;
width:111px;
height:43px;
background-color:#ccd4f8;
top:673px;
left:416px;
position:absolute;
}
.next
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:322px;
top:686px;
width:46px;
height:17px;
position:absolute;
letter-spacing:19.5%;
line-height:auto;
color:#353d61;
}
.prev3
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:448px;
top:686px;
width:45px;
height:17px;
position:absolute;
letter-spacing:19.5%;
line-height:auto;
color:#353d61;
}
