.macbookpro16"-21
{
width:1728px;
height:1117px;
padding:0px;
background-color:#ffffff;
position:absolute;
}
.ellipse7
{
left:919px;
top:248px;
position:absolute;
}
.ellipse8
{
top:606px;
left:1368px;
position:absolute;
}
.group10
{
width:745px;
height:279px;
top:408px;
left:107px;
position:absolute;
}
.aibasedplatformtolearnconceptsandtestyourunderstandingusingadaptiveandinteractiveassessments✨
{
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Inter;
left:107px;
top:511px;
width:625px;
height:176px;
position:absolute;
line-height:auto;
color:#353d61;
}
.welcometominutelearn👋
{
text-align:left;
vertical-align:text-top;
font-size:56px;
font-family:Inter;
left:107px;
top:408px;
width:745px;
height:68px;
position:absolute;
line-height:auto;
color:#353d61;
}
.rectangle4
{
width:1728px;
height:51px;
background-color:rgba(150, 169, 255, 0.2199999988079071);
top:1066px;
left:0px;
position:absolute;
}
.copyright©️minutelearn
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:715px;
top:1077px;
width:286px;
height:29px;
position:absolute;
line-height:auto;
color:#373d60;
}
.group7
{
width:408px;
height:76px;
top:53px;
left:107px;
position:absolute;
}
.image-removebg-preview-21
{
width:91px;
height:76px;
left:107px;
top:53px;
position:absolute;
}
.minutelearn3
{
text-align:left;
vertical-align:text-top;
font-size:48px;
font-family:Inter;
left:222px;
top:62px;
width:293px;
height:58px;
position:absolute;
line-height:auto;
color:#373d60;
}
.group11
{
width:408px;
height:76px;
top:53px;
left:107px;
position:absolute;
}
.image-removebg-preview-212
{
width:91px;
height:76px;
left:107px;
top:53px;
position:absolute;
}
.minutelearn4
{
text-align:left;
vertical-align:text-top;
font-size:48px;
font-family:Inter;
left:222px;
top:62px;
width:293px;
height:58px;
position:absolute;
line-height:auto;
color:#373d60;
}
.group9
{
width:211px;
height:86px;
top:48px;
left:1358px;
position:absolute;
}
.rectangle18
{
border-radius:15px;
width:211px;
height:86px;
background-color:rgba(150, 169, 255, 0.4399999976158142);
border:1px solid #353d61;
top:48px;
left:1358px;
position:absolute;
}
.signup
{
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:1410px;
top:72px;
width:107px;
height:39px;
position:absolute;
line-height:auto;
color:#353d61;
}
.undraw_knowledge_re_5v9l-21
{
width:463px;
height:498px;
padding:0px;
left:1054px;
top:343px;
position:absolute;
background-color:#ffffff;
}
.vector
{
width:371.4150390625px;
height:306.5726623535156px;
left:0px;
top:0px;
position:absolute;
}
.vector2
{
width:355.634521484375px;
height:290.798095703125px;
left:0px;
top:0px;
position:absolute;
}
.vector3
{
width:145.91139221191406px;
height:6.029038429260254px;
left:0px;
top:0px;
position:absolute;
}
.vector4
{
width:216.72035217285156px;
height:6.029038429260254px;
left:0px;
top:0px;
position:absolute;
}
.vector5
{
width:216.72035217285156px;
height:6.029038429260254px;
left:0px;
top:0px;
position:absolute;
}
.vector6
{
width:216.72035217285156px;
height:6.029025077819824px;
left:0px;
top:0px;
position:absolute;
}
.vector7
{
width:216.72035217285156px;
height:6.029025077819824px;
left:0px;
top:0px;
position:absolute;
}
.vector8
{
width:30.548240661621094px;
height:30.528255462646484px;
left:0px;
top:0px;
position:absolute;
}
.vector9
{
width:16.345924377441406px;
height:15.3980131149292px;
left:0px;
top:0px;
position:absolute;
}
.vector10
{
width:402.9363708496094px;
height:3.1033129692077637px;
left:0px;
top:0px;
position:absolute;
}
.vector11
{
width:15.778850555419922px;
height:38.2622184753418px;
left:0px;
top:0px;
position:absolute;
}
.vector12
{
width:21.658401489257812px;
height:83.49132537841797px;
left:0px;
top:0px;
position:absolute;
}
.vector13
{
width:10.868618965148926px;
height:28.38543701171875px;
left:0px;
top:111.81307983398438px;
position:absolute;
}
.vector14
{
width:25.7929744720459px;
height:18.492536544799805px;
left:0px;
top:134.45626831054688px;
position:absolute;
}
.vector15
{
width:10.867766380310059px;
height:28.38543701171875px;
left:0px;
top:111.81307983398438px;
position:absolute;
}
.vector16
{
width:25.79296112060547px;
height:18.492589950561523px;
left:0px;
top:134.45626831054688px;
position:absolute;
}
.vector17
{
width:67.15351867675781px;
height:188.5899658203125px;
left:0px;
top:0px;
position:absolute;
}
.vector18
{
width:21.36037254333496px;
height:37.71126174926758px;
left:0px;
top:0px;
position:absolute;
}
.vector19
{
width:58.865821838378906px;
height:99.41862487792969px;
left:0px;
top:0px;
position:absolute;
}
.vector20
{
width:30.634721755981445px;
height:89.39844512939453px;
left:0px;
top:0px;
position:absolute;
}
.vector21
{
width:30.757307052612305px;
height:30.737184524536133px;
left:0px;
top:0px;
position:absolute;
}
.vector22
{
width:64.15290832519531px;
height:75.76116180419922px;
left:0px;
top:0px;
position:absolute;
}
.vector23
{
width:36.48953628540039px;
height:30.355091094970703px;
left:0px;
top:123.76446533203125px;
position:absolute;
}
.vector24
{
width:273.0704650878906px;
height:2.309260606765747px;
left:0px;
top:152.69073486328125px;
position:absolute;
}
.vector25
{
width:14.536086082458496px;
height:14.850313186645508px;
left:0px;
top:0px;
position:absolute;
}
.vector26
{
width:14.536086082458496px;
height:14.850313186645508px;
left:0px;
top:0px;
position:absolute;
}
.vector27
{
width:14.536092758178711px;
height:14.850313186645508px;
left:0px;
top:0px;
position:absolute;
}
.vector28
{
width:6.623132228851318px;
height:11.736754417419434px;
left:0px;
top:0px;
position:absolute;
}
.vector29
{
width:6.6227192878723145px;
height:11.737383842468262px;
left:0px;
top:0px;
position:absolute;
}
.vector30
{
width:12.891770362854004px;
height:12.883337020874023px;
left:0px;
top:0px;
position:absolute;
}
.vector31
{
width:12.891770362854004px;
height:12.883337020874023px;
left:0px;
top:0px;
position:absolute;
}
.vector32
{
width:12.891797065734863px;
height:12.883337020874023px;
left:0px;
top:0px;
position:absolute;
}
.vector33
{
width:77.47956085205078px;
height:4.586485385894775px;
left:0px;
top:0px;
position:absolute;
}
.rectangle165
{
border-radius:18px;
width:591px;
height:576px;
background-color:rgba(227, 183, 179, 0.4399999976158142);
border:1px solid #9b3f37;
top:239px;
left:978px;
position:absolute;
box-shadow:0px 0px 92px rgba(0, 0, 0, 0.20000000298023224);
}
.rectangle166
{
border-radius:12px;
width:522px;
height:100px;
background-color:rgba(255, 255, 255, 0.4399999976158142);
top:373px;
left:1013px;
position:absolute;
box-shadow:0px 0px 21px rgba(0, 0, 0, 0.05000000074505806);
}
.rectangle167
{
border-radius:12px;
width:522px;
height:100px;
background-color:rgba(255, 255, 255, 0.4399999976158142);
top:512px;
left:1013px;
position:absolute;
box-shadow:0px 0px 21px rgba(0, 0, 0, 0.05000000074505806);
}
.rectangle168
{
border-radius:12px;
width:522px;
height:100px;
background-color:rgba(0, 122, 255, 0.7099999785423279);
top:681px;
left:1013px;
position:absolute;
box-shadow:0px 0px 43px rgba(0, 0, 0, 0.15000000596046448);
}
.pleaselogintoyouraccount
{
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:1052px;
top:286px;
width:443px;
height:39px;
position:absolute;
line-height:auto;
color:#9c504a;
}
.olapiya@gmail.com
{
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:1041px;
top:404px;
width:297px;
height:39px;
position:absolute;
line-height:auto;
color:#9c504a;
}
.*********
{
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:1041px;
top:542px;
width:151px;
height:39px;
position:absolute;
line-height:auto;
color:#9c504a;
}
.login2
{
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:1202px;
top:711px;
width:128px;
height:39px;
position:absolute;
letter-spacing:22.5%;
line-height:auto;
color:#ffffff;
}
