.macbookpro16"-10
{
width:1728px;
height:1117px;
padding:0px;
background-color:#ffffff;
position:absolute;
}
.selectatrack
{
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Inter;
line-height:auto;
color:#353d61;
left:153px;
top:250px;
position:absolute;
}
.rectangle4
{
width:1728px;
height:51px;
background-color:rgba(150, 169, 255, 0.2199999988079071);
top:1066px;
left:0px;
position:absolute;
}
.copyright©️minutelearn
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:715px;
top:1077px;
width:286px;
height:29px;
position:absolute;
line-height:auto;
color:#373d60;
}
.group7
{
width:408px;
height:76px;
top:53px;
left:107px;
position:absolute;
}
.image-removebg-preview-21
{
width:91px;
height:76px;
left:107px;
top:53px;
position:absolute;
}
.minutelearn2
{
text-align:left;
vertical-align:text-top;
font-size:48px;
font-family:Inter;
left:222px;
top:62px;
width:293px;
height:58px;
position:absolute;
line-height:auto;
color:#373d60;
}
.group11
{
width:408px;
height:76px;
top:53px;
left:107px;
position:absolute;
}
.image-removebg-preview-212
{
width:91px;
height:76px;
left:107px;
top:53px;
position:absolute;
}
.minutelearn3
{
text-align:left;
vertical-align:text-top;
font-size:48px;
font-family:Inter;
left:222px;
top:62px;
width:293px;
height:58px;
position:absolute;
line-height:auto;
color:#373d60;
}
.group12
{
width:100px;
height:100px;
left:1477px;
top:41px;
position:absolute;
}
.ellipse9
{
top:41px;
left:1477px;
position:absolute;
}
.ellipse10
{
width:80px;
height:80px;
left:1487px;
top:51px;
width:80px;
height:80px;
position:absolute;
}
.hi,lakshay
{
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Inter;
left:1236px;
top:64px;
width:196px;
height:44px;
position:absolute;
line-height:auto;
color:#000000;
}
.group13
{
width:343px;
height:182px;
top:356px;
left:277px;
position:absolute;
box-shadow:0px 0px 14px rgba(63, 61, 86, 0.3100000023841858);
}
.rectangle19
{
border-radius:19px;
width:343px;
height:182px;
background-color:rgba(150, 169, 255, 0.4399999976158142);
border:0.5px solid #353d61;
top:356px;
left:277px;
position:absolute;
}
.physics
{
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Inter;
left:381px;
top:425px;
width:133px;
height:44px;
position:absolute;
line-height:auto;
color:#353d61;
}
.group16
{
width:343px;
height:182px;
top:595px;
left:277px;
position:absolute;
box-shadow:0px 0px 14px rgba(63, 61, 86, 0.3100000023841858);
}
.rectangle192
{
border-radius:19px;
width:343px;
height:182px;
background-color:rgba(150, 169, 255, 0.4399999976158142);
border:0.5px solid #353d61;
top:595px;
left:277px;
position:absolute;
}
.computerscience
{
text-align:center;
vertical-align:text-top;
font-size:36px;
font-family:Inter;
left:363px;
top:642px;
width:172px;
height:88px;
position:absolute;
line-height:auto;
color:#353d61;
}
.group14
{
width:343px;
height:182px;
top:356px;
left:686px;
position:absolute;
box-shadow:0px 0px 14px rgba(63, 61, 86, 0.3100000023841858);
}
.rectangle193
{
border-radius:19px;
width:343px;
height:182px;
background-color:rgba(150, 169, 255, 0.4399999976158142);
border:0.5px solid #353d61;
top:356px;
left:686px;
position:absolute;
}
.chemistry
{
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Inter;
left:769px;
top:425px;
width:178px;
height:44px;
position:absolute;
line-height:auto;
color:#353d61;
}
.group17
{
width:343px;
height:182px;
top:595px;
left:686px;
position:absolute;
box-shadow:0px 0px 14px rgba(63, 61, 86, 0.3100000023841858);
}
.rectangle194
{
border-radius:19px;
width:343px;
height:182px;
background-color:rgba(150, 169, 255, 0.4399999976158142);
border:0.5px solid #353d61;
top:595px;
left:686px;
position:absolute;
}
.chemicalengineering
{
text-align:center;
vertical-align:text-top;
font-size:36px;
font-family:Inter;
left:755px;
top:642px;
width:205px;
height:88px;
position:absolute;
line-height:auto;
color:#353d61;
}
.group15
{
width:343px;
height:182px;
top:356px;
left:1095px;
position:absolute;
box-shadow:0px 0px 14px rgba(63, 61, 86, 0.3100000023841858);
}
.rectangle195
{
border-radius:19px;
width:343px;
height:182px;
background-color:#fffce2;
border:0.5px solid #353d61;
top:356px;
left:1095px;
position:absolute;
}
.mathematics
{
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Inter;
left:1155px;
top:425px;
width:224px;
height:44px;
position:absolute;
line-height:auto;
color:#9e8f08;
}
.group18
{
width:343px;
height:182px;
top:595px;
left:1095px;
position:absolute;
box-shadow:0px 0px 14px rgba(63, 61, 86, 0.3100000023841858);
}
.rectangle196
{
border-radius:19px;
width:343px;
height:182px;
background-color:rgba(150, 169, 255, 0.4399999976158142);
border:0.5px solid #353d61;
top:595px;
left:1095px;
position:absolute;
}
.petroleumengineering
{
text-align:center;
vertical-align:text-top;
font-size:36px;
font-family:Inter;
left:1164px;
top:642px;
width:205px;
height:88px;
position:absolute;
line-height:auto;
color:#353d61;
}
